body {
	background-image: url('../img/natural.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

html, body, h1, h2, h3, h4, h5 {
	font-family: "Raleway", sans-serif;
}
